<link rel="stylesheet" href="/stylesheets/style.css">
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg flex-nowrap px-md-5 bg-bluedark">
        <div class="container-fluid mt-2 mb-2">
            <a class="navbar-brand" href="#">
                <img src="/images/KELURAHAN_OETETE-removebg-preview.webp" alt="Logo Kelurahan Oetete" id="logo">
            </a>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-bluemoon">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Beranda</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Profil
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/sejarah_kelurahan"><img src="https://img.icons8.com/ios/16/000000/history-book.png"/>Sejarah Kelurahan</a></li>
                            <!-- <li><a class="dropdown-item" href="/profil/">Profil Wilayah Kelurahan</a></li> -->
                            <li><a class="dropdown-item" id="scroll-link" href="#fasilitas-section"><img src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/16/000000/external-potential-business-strategy-kmg-design-detailed-outline-kmg-design.png"/>Potensi & Fasilitas Kelurahan</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Pemerintahan
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/visi_misi_kelurahan"><img src="https://img.icons8.com/ios/16/000000/rules.png"/>Visi & Misi</a></li>
                            <li><a class="dropdown-item" href="/struktur_kelurahan"><img src="https://img.icons8.com/pastel-glyph/16/000000/parallel-tasks.png"/>Struktur
                                    Pemerintahan</a></li>
                            <li>
                                <hr class="dropdown-divider">
                             </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Data
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/main_stats">Data Statistik</a></li>
                            <li><a class="dropdown-item" href="/publikasi">Data Publikasi</a></li>
                            <li>
                                <hr class="dropdown-divider">
                             </li>
                        </ul>
                    </li>

                    <!-- <div class="slideIn">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/main_stats">Statistik</a>
                        </li>
                    </div> -->

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" id="scroll-link" href="#berita-section">Berita</a>

                        <!-- <a class="nav-link active" aria-current="page" id="" href="/peta">Peta</a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" id="scroll-link" href="#map-section">Peta</a>

                        <!-- <a class="nav-link active" aria-current="page" id="" href="/peta">Peta</a> -->
                    </li>
                </ul>
            </div>
            <a class="nav-link">
                <img src="/images/moon-fill.webp" alt="Dark Mode Toggle" id="toggle" width="20px" height="20px">
            </a>
        </div>
    </nav>

    <div class="card mb-1 z-index-1">
        <marquee onmouseover="this.stop()" onmouseout="this.start()">
            <div class="teks_berjalan">
                <span class="teks small">Sekilas Info | Kantor Kelurahan Oetete membuka pelayanan publik pada hari Senin -
                    Jumat pukul 08.00 - 15:00 WITA <a
                        href="/error"
                        rel="noopener noreferrer" title="Baca Selengkapnya">-- selengkapnya...</a>
                </span>
            </div>
        </marquee>
    </div>
</div>
<script src="/javascripts/darkmode.js"></script>


<style>
/* style.css */

/* Responsiveness for logo */
#logo {
  width: 100%; /* Ukuran lebar gambar 100% agar lebih besar di mobile */
  height: auto; /* Menjaga proporsi gambar */
  max-width: 370px; /* Lebar maksimum gambar, agar tidak terlalu besar di layar besar */
}

/* Customizing toggler icon size */
#toggle {
  width: 20px; /* Ukuran ikon toggle */
  height: 20px;
}

/* Media query untuk mengatur ukuran logo di tampilan mobile */
@media (min-width: 768px) {
  #logo {
    width: 370px; /* Ukuran logo di layar yang lebih besar */
  }
}

</style>