<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%-include('partials/favicon'); %>


	<title>Error</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/error404.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />



</head>

<body class="transition-page-1">

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<div></div>
				<h1>404</h1>
			</div>
			<h2>Halaman Tidak Ditemukan</h2>
			<p>Halaman yang sedang anda cari tidak dapat diakses untuk sementara</p>
			<a href="/">Beranda</a>
		</div>
	</div>

</body>

</html>
