<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sejarah Kelurahan Oetete</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <%-include('partials/favicon'); %>

  <link rel="stylesheet" href="/stylesheets/footer.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="/stylesheets/animtext.css">
</head>

<body class="transition-page-1">


  <!-- header start -->
  <%- include('partials/header');-%>
    <!-- header end   -->

    

    <div class="d-flex justify-content-center">
      <h2 class="mt-3 typings mx-auto" id="type" style="font-family: 'Barlow'; font-weight: bold;">Sejarah Kelurahan Oetete</h2>
    </div>
    <br>
    
    <div class="container mt-4">
      <div>
        <h3 class="mb-3 underline-hover-arc cursor-pointer">PENGANTAR</h3>
      </div>  
      <div class="card-body mx-auto col-lg-12 shadow-lg rounded-3 rectangle3">
        <article>
          <p class="justify-content-center fs-6 paragraph-page-test">
            Wilayah Kelurahan dulunya merupakan hutan, kemudian pada tahun 1948 terbentuk golobeuk  (Kampung Baru)
             yang dipimpin oleh seorang tamukung (Stefanus Kiuk) dari tahun 1948-1952. Adapun pemimpin Oetete dari masa 
             Tamukung sampai menjadi Kelurahan adalah : 
          
          </p>
        </article>
      </div>
    </div>


    <div class="card text-center mt-5 container col-7 rounded-3">
      <div class="card-header">
      </div>
      <div class="card-body bg-bluemoon text-white rounded-3">
        <h5 class="card-title underline-hover-arc">MASA TAMUKUNG</h5>
        <a class="nav-link"><img src="https://img.icons8.com/ios-filled/50/fff6bf/low-priority.png"
            style="cursor: pointer;"></a>
      </div>
      <div class="card-footer rounded-3">

      </div>
    </div>

    <div class="container mt-4">
          
      <div class="card-body mx-auto col-lg-12 shadow-lg rounded-3 rectangle3">
        <p>Daftar Pemimpin pada Masa Tamukung :</p>
        <ul>
          <li>Yoesoef Fanggidae			: Tahun 1952-1968</li>
          <li>Mel Ratu Edo				  : Tahun 1968-1969</li>
          <li>Amalo						      : Tahun 1969-1970</li>
          <li>Wungu						      : Tahun 1970-1971</li>
          <li>Anton Lesiangi				: Tahun 1971-1975</li>
        </ul>
        </div>
    </div>


    <div class="card text-center mt-5 container col-7 rounded-3">
      <div class="card-header">
      </div>
      <div class="card-body bg-bluemoon text-white rounded-3">
        <h5 class="card-title underline-hover-arc">MASA KELURAHAN</h5>
        <a class="nav-link"><img src="https://img.icons8.com/ios-filled/50/fff6bf/low-priority.png"
            style="cursor: pointer;"></a>
      </div>
      <div class="card-footer rounded-3">

      </div>
    </div>

    <div class="container mt-4">
          
      <div class="card-body mx-auto col-lg-12 shadow-lg rounded-3 rectangle3">
        <p>Daftar Pemimpin pada Masa Kelurahan :</p>
        <ul>
          <li>Anton Lesiangi				: Tahun 1975-1980 & Tahun 1980-1982</li>
          <li>Markus Ndoen				: Tahun 1984-1988</li>
          <li>Corinus Poerwata				: Tahun 1988-1996</li>
          <li>Soleman Detaq, S.Sos			: Tahun 1996-2001</li>
          <li>Darius Bekaliki				: Tahun 2002-2010</li>
          <li>Pommy E.N.Odja, SSTP.M.Si		: Tahun 2010-2013</li>
          <li>Geradus Bidi				: Tahun 2013-2015</li>
          <li>Jan Rudolf Tulle, SH			: Tahun 2015-</li>
          <li>Rynold Mambo Rihi, S.Stp		:  Tahun 2018-2021</li>
          <li>Dessy Ferlys M. Lay, S.Sos.,Msi	:  Tahun 2021</li>
         
        </ul>
        </div>
    </div>
      <div class="container mt-5">
      <div>
        <h3 class="mb-3 underline-hover-arc">TITIK MULA TERCIPTA NAMA <u>'OETETE'</u></h3>
      </div>
      <div class="card-body mx-auto col-lg-12 shadow-lg rounded-3 rectangle3">
        <article>


          <p class="justify-content-center fs-6 fade-in-17s">
            <br>
            Seluk beluk dari nama ‘Oetete’ memiliki beberapa versi cerita rakyat yang bisa dibilang sebuah cerita
            yang melegenda.
            Di wilayah Desa Oetete, dulunya terdapat beberapa gua. <br><br> Salah satu gua tersebut dihuni oleh seorang
            nenek yang berasal dari Kecamatan Noemuti yang letaknya di Kabupaten Timur Tengah Utara (TTU).
            Nenek tersebut menghuni sebuah gua karena diasingkan dengan alasan nenek tersebut mengidap sebuah penyakit
            menular yang dapat menyebabkan kematian bagi warga sekitar disaat itu.
            <br><br>

            Gua tersebut merupakan tempat perawatan bagi dirinya, sekaligus sebagai tempat isolasi agar warga lain
            terhindar dari penularan penyakit yang diidapnya.
            Nenek tersebut setiap harinya diberi kiriman makanan dari hamba-hambanya dan tentunya hamba-hamba dari nenek
            tersebut meninggal sedikit demi sedikit karena penyakit yang ditulari oleh nenek.
            <br><br> Ia sangat rindu untuk bertemu dengan anak-anak dan cucu-cucunya, namun ia tidak diizinkan oleh
            penguasa Timor yang menempati Kupang kala itu.
            Dalam kerinduannya, ia hanya bisa menetaskan air mata selama puluhan tahun sampai pada akhir hidupnya.

            Setelah dari kematiannya,
            selalu ada air yang menetes dari langit-langit gua tersebut. <br><br> Air yang “menetes” dari langit-langit
            gua tersebut dipercaya oleh sebagian masyarakat Timor bahwa “tetesan”
            tersebut merupakan tetesan dari seorang nenek yang diasingkan ke dalam gua itu sampai pada titik akhir
            kehidupannya.
          </p>

          
          <div class="card container col-12">
            <div class="card-header bg-bluemoon">
              <div class="text-center text-white">
                <b>Catatan Penting!</b>
              </div>
            </div>
            <div class="card-body">
              <div class="accordion col-lg-10 mx-auto" id="regularAccordionRobots">
                <div class="accordion-item">
                  <h2 class="accordion-header bg-bluemoon" id="regularHeadingFirst">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#regularCollapseFirst" aria-expanded="false" aria-controls="regularCollapseFirst">
                      Arti dari Oetete
                    </button>
                  </h2>
                  <div id="regularCollapseFirst" class="accordion-collapse collapse"
                    aria-labelledby="regularHeadingFirst" data-bs-parent="#regularAccordionRobots">
                    <div class="accordion-body">
                      <blockquote class="blockquote mb-0 text-lg-center text-black">
                        <p class="fs-6">Oe&nbsp;&nbsp;&nbsp;= Air</p>
                        <p class="fs-6">Tete = Nenek (dalam Bahasa <b>Dawan Versi Noemuti)</b></p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header bg-bluemoon" id="regularHeadingSecond">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#regularCollapseSecond" aria-expanded="false"
                      aria-controls="regularCollapseSecond">
                      Kapan Oetete Resmi Menjadi Nama Desa?
                    </button>
                  </h2>
                  <div id="regularCollapseSecond" class="accordion-collapse collapse"
                    aria-labelledby="regularHeadingSecond" data-bs-parent="#regularAccordionRobots">
                    <div class="accordion-body">
                      <blockquote class="blockquote mb-0 text-black">
                        <p class="fs-6">
                            Nama "Oetete" sebagai nama dari wilayah pemerintah (desa oetete), muncul pertama kali pada tahun 1953, ketika status kota kupang disamakan
                            menjadi sebuah Kecamatan berdasarkan SK. <br><br> <strong>Mendagri tanggal 22 Oktober 1953 No. PUD 5/16/46</strong>. 
                        </p>
                     
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
           </div>
        </article>
      </div>
    </div>




    <!-- <button id="btnScrollUp" onclick="topFunction()">
      <i class="material-icons">arrow_upward</i>
    </button> -->

    <script type="text/javascript">
      var i = 0;
      var text = "SEJARAH KELURAHAN OETETE";
      var speed = 150;

      document.getElementById("type").innerHTML = "";
      function type() {
        document.getElementById("type").innerHTML += text.charAt(i);
        i++;
        if (i > text.lenght) return;
        setTimeout(type, speed);
      }
      type();
    </script>
    <br><br><br>
    <%-include('partials/scrollUp'); -%>    
    <%-include('partials/footer'); -%>



      <script src="https://kit.fontawesome.com/bd1d04a488.js" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="/javascripts/scrollTop.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>