

  
  <div class=" bg-bluemoon border-3 rounded">
    <ul>
        <li class="nav-item dropdown mt-4 list-unstyled">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-chart-line"></i>&nbsp&nbspStatistik Penduduk</a>
            <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" href="/data/data-umur"><img src="https://img.icons8.com/wired/16/000000/age.png"/>&nbsp&nbspStatistik Umur</a></li> -->
                <li><a class="dropdown-item" href="/data/data-pendidikan"><img src="https://img.icons8.com/ios/16/000000/education.png"/>&nbsp&nbspStatistik Pendidikan</a></li>
                <li><a class="dropdown-item" href="/data/data-pekerjaan"><img src="https://img.icons8.com/external-victoruler-outline-victoruler/16/000000/external-work-coronavirus-covid-19-victoruler-outline-victoruler.png"/>&nbsp&nbspStatistik Pekerjaan</a></li>
                <li><a class="dropdown-item" href="/data/data-jeniskelamin"><img src="https://img.icons8.com/ios/16/000000/gender.png"/>&nbsp&nbspStatistik Jenis Kelamin</a></li>
                <li><a class="dropdown-item" href="/data/data-statuspernikahan"><img src="https://img.icons8.com/ios/16/000000/couple-man-woman.png"/>&nbsp&nbspStatistik Status Pernikahan</a></li>
                <li><a class="dropdown-item" href="/data/data-umkm"><img src="https://img.icons8.com/ios/16/000000/shop.png"/>&nbsp&nbspStatistik UMKM</a></li>
                
            </ul>   
        </li>

        <li class="nav-item list-unstyled">
            <a class="nav-link text-white" href="/data/data-umkm">
            <i class="fa-solid fa-cart-shopping"></i>&nbsp&nbspStatistik UMKM</a>   
        </li>
          
            
  
      
    </ul>
  </div>
